body {
    margin: 0;
    line-height: 1.5;
    font-family: "Raleway", "PT Sans", Calibri, Tahoma, sans-serif;
}

.content-width {
    max-width: 70ch;
    margin: 0 auto;
}

main {
    margin-bottom: 4rem;
}

header {
    margin-bottom: 4rem;
    padding: 2rem 0;
    background-color: hsl(280, 50%, 40%);
    color: hsl(300, 50%, 90%);
    border-bottom: 4px solid hsl(280, 70%, 80%);
}

header p {
    color: hsl(300, 50%, 85%);
}

h1, h2, h3 {
    margin: 0;
    line-height: 1.25;
}

h2, h3 {
    color: hsl(280, 50%, 40%);
}

h1 {
    font-size: 3rem;
    font-weight: 100;
}

h2 {
    font-size: 2rem;
    font-style: italic;
    font-weight: 200;
}

p, ul, ol {
    font-size: 1.125rem;
}

img {
    padding: 2rem;
    height: auto;
}

.alert {
    text-align: center;
    font-weight: 700;
    background-color: hsl(0, 70%, 50%);
    color: hsl(0, 0%, 100%);
}